<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DB-UI Validation Suite" preserve-order="true">

   <test name="Data Extract from DB">
        <classes>
         <class name="DB.DatabaseSmokeTest"/>
        </classes>
    </test>

    <test name="Frontend - Parallel" parallel="classes" thread-count="5">
        <classes>
            <!-- Put each page / feature class you want run in parallel -->
            <class name="Web.WebSmokeTest"/>
            <!-- add more frontend classes here -->
        </classes>
    </test>

        <test name="Comparator">
        <classes>
            <class name="Compare.Compare"/>
        </classes>
    </test>

</suite>
