<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DB-UI Validation Suite" preserve-order="true">

   <test name="Data Extract from DB">
        <classes>
         <class name="DB.DatabaseSmokeTest"/>
            <methods>
            <include name="db_Value_Extraction"/>
            </methods>
        </classes>
    </test>

     <test name="Data extarct from web Trade > Transaction">
        <classes>
            <class name="Web.WebSmokeTest">
                <methods>
                    <include name="counts_Of_Trade_Transactions_Page"/>
                </methods>
            </class>
        </classes>
    </test>  

    <test name="Comparator">
        <classes>
            <class name="Compare.Compare"/>
            <methods>
            <include name="compare"/>
            </methods>
        </classes>
    </test>

</suite>
